<phpunit bootstrap="./vendor/autoload.php">
  <testsuites>
    <testsuite name="FastRoute Tests">
      <directory>./vendor/signpostmarv/daft-router/tests/fast-route/</directory>
    </testsuite>
    <testsuite name="DaftInterfaceCollector">
      <directory>./vendor/signpostmarv/daft-interface-collector/Tests/</directory>
    </testsuite>
    <testsuite name="DaftRouter">
      <directory>./vendor/signpostmarv/daft-router/tests/daft-router/</directory>
    </testsuite>
    <testsuite name="DaftFramework">
      <directory>./Tests/</directory>
    </testsuite>
    <testsuite name="Daphtinx">
      <directory>./Tests/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log
      type="coverage-html"
      target="phpunit"
    />
    <log
      type="coverage-text"
      target="php://stdout"
      showUncoveredFiles="true"
      showOnlySummary="false"
    />
  </logging>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src/</directory>
    </whitelist>
  </filter>
</phpunit>
