<phpunit bootstrap="./vendor/autoload.php">
  <testsuites>
    <testsuite name="Daphtinx">
      <directory>./Tests/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log
      type="coverage-html"
      target="phpunit"
      logIncompleteSkipped="true"
    />
    <log
      type="coverage-text"
      target="php://stdout"
      showUncoveredFiles="true"
      showOnlySummary="false"
    />
  </logging>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src/</directory>
    </whitelist>
  </filter>
</phpunit>
